<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:linear-gradient(to left, #196475, #1f7571 50%, #0e5858 100%);">
    <a class="navbar-brand" href="#" style="padding: 10px;font-size: 30px;font-weight: 600;padding-left: 60px;">Stocks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-list">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-create">Create</a>
        </li>
  
      </ul>
    </div> -->
  </nav>
  <app-stock></app-stock>
  <footer>
    <p  class="text-xs-center">© Copyright 2021. All rights reserved. Alex Johnson</p>
  </footer>
  